.page-footer {
    padding-block: 30px;
    border-top: 1px solid #E8E8E8;

    @include mobile {
        padding-block: 20px;
    }

    &__text {
        font-size: 16px;
        line-height: 19px;
        font-family: $InterRegular;

        @include mobile {
            font-size: 13px;
            line-height: 14px;
        }

        span {
            font-family: $InterBold;
        }
    }
}

.footer-menu {
    @include flexBetween;
}

.footer-content {
    @include mobile {
        gap: 15px;
        flex-direction: column-reverse;
    }
}